.nav-link { 
	color:#ffff;
}

.cover{
	height: 400px;
	background-image: url(../img/cafeteria.jpg);
	background-size:cover;
	background-position: center;
	color:#ffff;
	background-color:rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;
}

.tarjetas img{
	height: 14.5em;
}

.card{
	border: 0 !important;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}